.DS_Store
._*
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
/.env
/.env.*
/.kaggle/
kaggle.json
/rebuild/
build/
dist/
target/
*.zip
*.pth
*.pt
*.npz
*.npy
*.o
*.so
*.dylib
*.exe
